@mixin objectSize($width, $height) {
	width: $width;
	height: $height;
}

@mixin objectSizeProportional($width, $height) {
	width: $width;
	aspect-ratio: $height;
}

@mixin objectSizeCalc($width, $height) {
	width: calc(#{$width}vw + #{$width}vh);
	height: calc(#{$height}vw + #{$height}vh);
}

@mixin objectSizeCalcHeight($width, $height) {
	width: $width;
	height: calc(#{$height}vw + #{$height}vh);
}

@mixin objectSizeProportionalCalc($width, $height) {
	width: calc(#{$width}vw + #{$width}vh);
	aspect-ratio: $height;
}
