@mixin objectSize($width, $height) {
	width: $width;
	height: $height;
}

@mixin objectSizeProportional($width, $aspectRatio) {
	width: $width;
	aspect-ratio: $aspectRatio;
}

@mixin objectSizeFixed($width, $height) {
	width: calc(#{$width}vw + #{$width}vh);
	height: calc(#{$height}vw + #{$height}vh);
}

@mixin objectSizeExtended($width, $height, $flag) {
	@if $flag == 'fixedWidth' {
		width: $width;
		height: calc(#{$height}vw + #{$height}vh);
	} @else if $flag == 'fixedHeight' {
		width: calc(#{$width}vw + #{$width}vh);;
		height: $height;
	} @else {
		@error "Invalid flag value: #{$flag}.";
	}
}
