$blue: rgb(55, 75, 255);
$darkBlue: rgba(0, 0, 10, .8);
$mediumDarkBlue: rgba(0, 0, 30, .9);
$mediumDarkGrey: rgb(20, 0, 60);
$darkGrey: rgb(20, 0, 40);

$white: rgb(255, 255, 255);
$darkWhite: rgb(175, 175, 175);

$yellow: rgb(255, 255, 0);
$lightYellow: rgb(255, 255, 220);
$darkYellow: rgb(200, 200, 0);

$pink: rgb(255, 170, 200);

$grey: rgb(100, 100, 100);
$lightGrey: rgba(50, 50, 50, .3);

$black: rgb(0, 0, 0);

$green: rgb(0, 235, 0);

$red: rgb(255, 10, 10);