/* TIME */
$fastDuration: 200ms;

/* BORDER */
$borderSizeThin: .06;
$borderSizeNormal: .12;
$borderRadiusNormal: .16;

/* PADDING */
$containerPaddingNormal: 1;

/* TEXT */
$textSizeLow: .9;
$textSizeNormal: 1.1;
$textSizeButton: 1.2;
$textSizeMedium: 2.1;
