$fastDuration: 200ms;

$borderSizeThin: .05;
$borderSizeInputs: .12;
$borderSizeNormal: .16;

$borderRadiusInputs: .12;
$borderRadiusNormal: .16;

$containerPaddingNormal: 1.2;

$textSizeLow: .9;
$textSizeNormal: 1.1;
$textSizeButton: 1.2;
$textSizeMedium: 2.1;
