@font-face {
  font-family: "InterMedium";
  src: url("../fonts/Inter18pt-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "InterRegular";
  src: url("../fonts/Inter18pt-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "InterItalic";
  src: url("../fonts/Inter18pt-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  line-height: 1;
}

body {
  background-color: rgb(20, 0, 60);
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(4vw + 4vh);
  background-color: rgb(20, 0, 40);
  border-bottom: calc(0.05vw + 0.05vh) solid rgb(175, 175, 175);
}
.header__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
  padding-inline: calc(1.2vw + 1.2vh);
}
.header__logo {
  font-family: "InterItalic", sans-serif;
  font-style: italic;
  font-size: calc(2.1vw + 2.1vh);
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.header__menu {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header__menu-item {
  margin-inline: calc(0.6vw + 0.6vh);
}
.header__menu-link {
  font-family: "InterRegular", sans-serif;
  font-style: normal;
  font-size: calc(1.1vw + 1.1vh);
  font-weight: 500;
  display: inline-block;
  padding: calc(0.3vw + 0.3vh) calc(0.9vw + 0.9vh);
  background-color: rgb(55, 75, 255);
  border: calc(0.16vw + 0.16vh) solid transparent;
  border-radius: calc(0.16vw + 0.16vh);
  color: rgb(255, 255, 255);
  transition-property: color, border-color, background-color;
  transition-duration: 200ms, 200ms, 200ms;
}
@media (hover: hover) {
  .header__menu-link:hover {
    color: rgb(55, 75, 255);
    border-color: rgb(55, 75, 255);
    background-color: rgb(255, 255, 255);
  }
}
@media (hover: none) {
  .header__menu-link:active {
    color: rgb(55, 75, 255);
    border-color: rgb(55, 75, 255);
    background-color: rgb(255, 255, 255);
  }
}
.header__menu-link--yellow {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 0);
}
@media (hover: hover) {
  .header__menu-link--yellow:hover {
    color: rgb(255, 255, 0);
    border-color: rgb(255, 255, 0);
    background-color: rgb(0, 0, 0);
  }
}
@media (hover: none) {
  .header__menu-link--yellow:active {
    color: rgb(255, 255, 0);
    border-color: rgb(255, 255, 0);
    background-color: rgb(0, 0, 0);
  }
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.main__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  height: fit-content;
  padding-inline: calc(1.2vw + 1.2vh);
  padding-top: calc(2vw + 2vh);
}
.main__inputs {
  font-family: "InterRegular", sans-serif;
  font-style: normal;
  font-size: calc(0.9vw + 0.9vh);
  font-weight: 400;
  padding-inline: calc(0.5vw + 0.5vh);
  background-color: rgb(255, 255, 255);
  border-radius: calc(0.12vw + 0.12vh);
  border: calc(0.12vw + 0.12vh) solid rgb(175, 175, 175);
}

.sections {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: calc(0.16vw + 0.16vh);
}
.sections__header {
  width: 100%;
  height: fit-content;
  font-family: monospace, sans-serif;
  font-style: normal;
  font-size: calc(2.1vw + 2.1vh);
  font-weight: 600;
  display: block;
  text-align: center;
  background-color: rgb(55, 75, 255);
  border-radius: calc(0.16vw + 0.16vh) calc(0.16vw + 0.16vh) 0 0;
  color: rgb(255, 255, 255);
}
.sections__tasks-list {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  aspect-ratio: 2.2;
  padding: calc(0.35vw + 0.35vh);
  background: linear-gradient(to bottom right, rgb(255, 255, 220), rgb(255, 170, 200));
  border-radius: 0 0 calc(0.16vw + 0.16vh) calc(0.16vw + 0.16vh);
  overflow-y: auto;
}
.sections__form {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: calc(0.7vw + 0.7vh);
  background: linear-gradient(to bottom right, rgb(255, 255, 220), rgb(255, 170, 200));
  border-radius: 0 0 calc(0.16vw + 0.16vh) calc(0.16vw + 0.16vh);
}
.sections__form--task {
  margin: calc(0.35vw + 0.35vh) 0;
  padding: calc(0.35vw + 0.35vh);
  border-radius: calc(0.16vw + 0.16vh);
  background: linear-gradient(to bottom right, rgb(255, 255, 0), rgb(175, 175, 175), rgb(0, 0, 0));
}
.sections__field {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: calc(0.5vw + 0.5vh);
}
.sections__title {
  font-family: "InterRegular", sans-serif;
  font-style: normal;
  font-size: calc(1.1vw + 1.1vh);
  font-weight: 500;
  margin-right: calc(0.5vw + 0.5vh);
  color: rgb(0, 0, 0);
}
.sections__text {
  width: 16vw;
  aspect-ratio: 7;
  margin-right: 9vw;
}
.sections__text--task {
  width: 25vw;
  aspect-ratio: 5;
  margin-right: 0;
  padding-top: calc(0.25vw + 0.25vh);
  resize: none;
}
.sections__submit {
  font-family: "InterRegular", sans-serif;
  font-style: normal;
  font-size: calc(1.2vw + 1.2vh);
  font-weight: 500;
  padding: calc(0.3vw + 0.3vh) calc(0.9vw + 0.9vh);
  background-color: rgb(0, 235, 0);
  color: rgb(255, 255, 255);
  border-radius: calc(0.16vw + 0.16vh);
  border: calc(0.16vw + 0.16vh) solid transparent;
  transition-property: background-color, border-color, color;
  transition-duration: 200ms, 200ms, 200ms;
}
@media (hover: hover) {
  .sections__submit:hover {
    color: rgb(0, 235, 0);
    border-color: rgb(0, 235, 0);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
}
@media (hover: none) {
  .sections__submit:active {
    color: rgb(0, 235, 0);
    border-color: rgb(0, 235, 0);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
}
.sections__submit--delete {
  background-color: rgb(255, 10, 10);
  color: rgb(0, 0, 0);
  border-color: rgb(255, 10, 10);
}
@media (hover: hover) {
  .sections__submit--delete:hover {
    color: rgb(255, 10, 10);
    background-color: rgb(0, 0, 0);
    border-color: rgb(255, 10, 10);
  }
}
@media (hover: none) {
  .sections__submit--delete:active {
    color: rgb(255, 10, 10);
    background-color: rgb(0, 0, 0);
    border-color: rgb(255, 10, 10);
  }
}

/*# sourceMappingURL=app.css.map */
