<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Tasker - это удобный онлайн-задачник для организации ваших задач.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--
		<link rel="preload" href="/app/static/fonts/Inter18pt-Italic.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/app/static/fonts/Inter18pt-Medium.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/app/static/fonts/Inter18pt-Regular.woff2" as="font" type="font/woff2" crossorigin>
		-->
		<link rel="icon" type="image/x-icon" href="/app/static/imgs/favicon.ico">
		<link rel="stylesheet" href="/app/static/css/app.css">
		<title>Tasker | Задачник</title>
	</head>
	<body>

		<header class="header">
			<div class="header__container container">
				<div class="header__logo-wrapper">
					<p class="header__logo logo" target="_self">Tasker</p>
				</div>
				<div id="header-root">

				</div>
				<div class="header__burger-button" hidden>
					<span class="header__burger-button-line"></span>
					<span class="header__burger-button-line"></span>
					<span class="header__burger-button-line"></span>
				</div>
			</div>
		</header>

		<main class="main">
			<div id="main-root" class="main__container container">

			</div>
		</main>

		<footer class="footer">
			<div class="footer__container container">
				<span class="footer__icons-inner">
					<a href="https://github.com/TimurDev-hub" title="GitHub" target="_blank" class="footer__icon"></a>
					<a href="https://x.com" title="Twitter" target="_blank" class="footer__icon"></a>
				</span>
				<p title="Creator" class="footer__text">Created by Timur &copy;</p>
			</div>
		</footer>

		<script type="module" src="/app/static/scripts/js/app.js" defer></script>

	</body>
</html>