@use "../_resources/mixins/display" as display;
@use "../_resources/mixins/font" as font;
@use "../_resources/mixins/media" as media;
@use "../_resources/mixins/size" as size;
@use "../_resources/tokens/variables" as var;
@use "../_resources/tokens/colors" as color;
@use "../_resources/utils/functions" as func;

.main {
	@include display.flexContainerBlock(row, nowrap, center, center);
	width: 100vw;

	&__container {
		@include display.flexContainerBlock(row, nowrap, space-between, flex-start);
		@include size.objectSize(80%, fit-content);
		padding-inline: func.viewportSum(var.$containerPaddingNormal);
		padding-top: func.viewportSum(2);
	}

	&__inputs {
		@include font.fontConfigExtended('InterRegular', normal, var.$textSizeLow, 400);
		padding-inline: func.viewportSum(.5);
		background-color: color.$white;
		border-radius: func.viewportSum(var.$borderRadiusNormal);
		border: func.viewportSum(var.$borderSizeNormal) solid color.$darkWhite;
	}
}