@use "../_resources/mixins/display" as display;
@use "../_resources/mixins/font" as font;
@use "../_resources/mixins/media" as media;
@use "../_resources/mixins/size" as size;
@use "../_resources/tokens/variables" as var;
@use "../_resources/tokens/colors" as color;
@use "../_resources/utils/functions" as func;

.sections {
	@include display.flexContainerInline(column, nowrap, flex-start, center);
	border-radius: func.viewportSum(var.$borderRadiusNormal);

	&__header {
		@include size.objectSize(100%, fit-content);
		@include font.fontConfigExtended(monospace, normal, var.$textSizeMedium, 600);
		display: block;
		text-align: center;
		background-color: color.$blue;
		border-radius: func.viewportSum(var.$borderRadiusNormal) func.viewportSum(var.$borderRadiusNormal) 0 0;
		color: color.$white;
	}

	&__form {
		@include display.flexContainerInline(column, nowrap, flex-start, center);
		width: 100%;
		padding: func.viewportSum(.7);
		background: linear-gradient(to bottom right, color.$lightYellow, color.$pink);
		border-radius: 0 0 func.viewportSum(var.$borderRadiusNormal) func.viewportSum(var.$borderRadiusNormal);
	}

	&__field {
		@include display.flexContainerBlock(row, nowrap, center, flex-start);
		width: 100%;
		margin-bottom: func.viewportSum(.5);
	}

	&__title {
		@include font.fontConfigExtended('InterRegular', normal, var.$textSizeNormal, 500);
		margin-right: func.viewportSum(.5);
		color: color.$black;
	}

	&__text {
		@include size.objectSizeProportional(16vw, 7);
		margin-right: 9vw;

		&--task {
			@include size.objectSizeProportional(25vw, 5);
			margin-right: 0;
			padding-top: func.viewportSum(.25);
			resize: none
		}
	}

	&__submit {
		@include font.fontConfigExtended('InterRegular', normal, var.$textSizeButton, 500);
		padding: func.viewportSum(.3) func.viewportSum(.9);
		background-color: color.$green;
		color: color.$white;
		border-radius: func.viewportSum(var.$borderRadiusNormal);
		border: func.viewportSum(var.$borderSizeNormal) solid transparent;
		transition-property: background-color, border-color, color;
		transition-duration: var.$fastDuration, var.$fastDuration, var.$fastDuration;

		@include media.hoverEffect {
			color: color.$green;
			border-color: color.$green;
			background-color: color.$white;
			cursor: pointer;
		}

		&--delete {
			background-color: color.$red;
			color: color.$black;
			border-color: color.$red;

			@include media.hoverEffect {
				color: color.$red;
				background-color: color.$black;
				border-color: color.$red;
			}
		}
	}
}